/* Estilos generales */
* {
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
}

.promo {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
}

.promo h1 {
    font-size: 3.5rem;
    text-align: center;
    color: #f1f1f1;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);

}

.promo p {
    font-size: 2.5rem;
    text-align: center;
    color: #f1f1f1;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0);

}

button {
    display: inline-block;
    border: none;
    height: 50px;
    border-radius: 30px;
    padding: 10px 0;
    width: 200px;
    background-color: #f5be09;
    font-size: 1.8rem;
    color: #080202;
    font-weight: 800;
    transition: 150ms;
    margin-top: 40px;
}

button:focus {
    outline: none;
}

button:hover {
    transform: translate(0, -5px);
}

#hero {
    min-height: 100vh;
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    mix-blend-mode: overlay;
}

/* Para el cuerpo de la página */
.contenedor {
    height: 3000px;
    /* Altura del contenedor */
    overflow: hidden;
    /* Ocultar elementos que excedan la altura */
    color: #f1f1f1;
}

.contenedor h2 {
    font-size: 3.5rem;
    text-align: center;
    color: #f1f1f1;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);

}

.contenedor p {
    font-size: 1.5rem;
    text-align: center;
    color: #f1f1f1;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);

}

.elemento-oculto {
    opacity: 0;
    /* Ocultar inicialmente los elementos */
    transition: opacity 1s ease;
    /* Definir una transición para la opacidad */
    flex-direction: column;
}

.elemento-oculto.interseccion {
    opacity: 1;
    /* Mostrar elementos al intersectar el viewport */
    transform: translate(-50, 0px);

}

.elemento-oculto.interseccion-inferior {
    opacity: 0;
    /* Ocultar elementos cuando se acerquen al final */
}

.referencia-inferior {
    height: 100px;
    /* Altura del elemento de referencia */
}

/* para mostrar el contenido en dos columnas */
@media only screen and (min-width: 768px) {
    .contenido {
        display: flex;
        /* Propiedades adicionales de flexbox */
    }
    .imagen-productoI {
        width: 100%;
        height: 400px;
        object-fit: cover;
        margin-bottom: 20px;
        border-radius: 10px; /* Redondeo de 10 píxeles */
        order : 0;
    }
    .textoI {
        width: 100%;
        padding: 20px;
        order : 1;
    }
}

/* Para mostrar el contenido en una sola columna */
@media only screen and (max-width: 767px) {
    .contenido {
        display: block;
        /* Redefinir para móviles */
    }
    .imagen-productoI {
        width: 100%;
        height: 400px;
        object-fit: cover;
        margin-bottom: 20px;
        border-radius: 10px; /* Redondeo de 10 píxeles */
    }
    .textoI {
        width: 100%;
        padding: 20px;
    }
}

/* Para imagenes de productos */
.imagen-producto {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px; /* Redondeo de 10 píxeles */
    
}

.texto {
    width: 100%;
    padding: 20px;
}